<p>Партнер:</p>

<p>
  <b>Url:</b>
  <%= @partner.url %>
</p>

<p>
  <b>Description:</b>
  <%= @micropost.user_id %>
</p>

<p>
  <b>regex:</b>
  <%= @micropost.user_id %>
</p>


<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>

